*{
	margin:0;
	padding: 0;
	/*box-sizing: border-box;
	border: 1px solid block;*/
  /*Landing Background Animation*/
}
.landing-page {
  height: 100vh;
  background: url(../assets/images/background2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
}

/*Landing Content CSS*/
.landing-title {
    font-size: 70px;
    text-align: center;
    color: #E5E4E2;
    font-family: Times New Roman, serif;
}
/* animation for span */
.landing-title > span {
    animation-name: colorChange;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes colorChange{
    0% {color: red}
    55% {color: yellow}
    100% {color: blue};
}
.landing-bttn:hover{
    background: #25383C;
}
.landing-bttn{
  background-color: #B38481;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  cursor: pointer;
}
/*Navigation bar----------------------------------------------*/
.header{
	height: 100px;
	background: #34495e;
	padding: 0 20px;
	color: #fff;
	top: 0px;
	opacity: .5;
}
.logo{
	line-height: 100px;
	float: left;
	text-transform: uppercase;
}
.navbar-menu{
	float: right;
	line-height: 100px;
}
.navbar-menu a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.4s;
}
.show-menu-btn, .hide-menu-btn{
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}
.show-menu-btn{
	float: right;
}
.show-menu-btn i{
	line-height: 100px;
}
.navbar-menu a:hover, .show-menu-btn:hover, .hide-menu-btn:hover{
	color: #3498db;
}
#chk{
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}
.content{
	padding: 0 20px;
}
.content img{
	width: 100%;
	max-width: 700%;
	margin: 20px 0;
}
.content p{
	text-align: justify;
}
@media screen and (max-width:360px){
	.show-menu-btn, .hide-menu-btn{
		display: block;
	}
}
/*Home Page---------------------------------------------------*/
.menu {
  float: left;
  width: 20%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: none;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}
.right > img{
  transition: 0.5s;
}
.right > img:hover{
  transform: scale(1.2);
}

@media only screen and (max-width:1024px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:640px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
/*About Us Page-----------------------------------------------------*/

/*Gallery-------------------------------------------------------*/
.gallery-page {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 55%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
@media screen and (max-width: 360px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  iframe{
    height:300px;
    width: 300px;
  }
}
@media screen and (min-width: 361px) and (max-width: 768px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/*Contact Us----------------------------*/
.contact-container-fluid{
  text-align: center;
}

.contact-btn:hover{
    background: #8BB381;
}
.contact-btn{
  background-color: #827B60;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.contact-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}
@media screen and (max-width: 360px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  iframe{
    height:300px;
    width: 300px;
  }
}
@media screen and (min-width: 361px) and (max-width: 768px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}